<div md-dialog-content>
  <md-card>
    <md-card-content>
      <span><h3>{{ data.consumer.title }} </h3></span>
      <table width="100%">
        <tr>
            <td width="80%"><strong>Address</strong></td>
            <td width="20%"><strong>Status</strong></td>
        </tr>
        <tr *ngFor="let addObj of data.consumer.currentMap.addresses">
          <td width="80%">{{ data.consumer.getAddressTitle(addObj) }}</td>
          <td width="20%">{{ data.consumer.getStatusLabel(addObj) }}</td>
        </tr>
      </table>
    </md-card-content>
    <md-card-actions>
      <button md-fab (click)="data.consumer.closeAddrListDlg()"><md-icon>cancel</md-icon></button>
    </md-card-actions>
  </md-card>
</div>
