<div md-dialog-content>
  <div flex="" layout="row" layout-align="center center" style="margin-top:5px;">
  <button *ngIf="data.consumer.currentGmapUrl && data.consumer.mapStarted" md-fab (click)="data.consumer.saveStatus()" style="margin-right:5px;"><md-icon>save</md-icon></button>
  <a *ngIf="data.consumer.currentGmapUrl" target="_blank" href="{{ data.consumer.currentGmapUrl }}" md-fab style="margin-right:5px;"><md-icon svgIcon="google-map"></md-icon></a>
  <a *ngIf="!data.consumer.hasMultiAdds()" href="{{ data.consumer.currentFeedbackUrl }}" target="_blank" md-fab style="margin-right:5px;"><md-icon svgIcon="edit-address"></md-icon></a>
  <button md-fab (click)="data.consumer.cancelAddrDlg()"><md-icon>cancel</md-icon></button>
</div>
  <form name='addrForm'>
    <md-card *ngIf="data.consumer.mapStarted">
      <md-card-content>
        <span><h3>{{ data.consumer.currentAddrTitle }} </h3></span>
        <md-radio-group *ngIf="!data.consumer.hasMultiAdds()" class="addrstat-radio-group" name="stat" [(ngModel)]="data.consumer.selectedAddObj.status">
          <md-radio-button class="addrstat-radio-button" *ngFor="let stat of data.consumer.addrStatuses" [value]="stat.val">
            {{ stat.label }}
          </md-radio-button>
        </md-radio-group>
        <md-list *ngIf="data.consumer.hasMultiAdds()">
          <md-list-item *ngFor="let addObj of data.consumer.currentAddr.addObj">
            <button md-raised-button color="accent" (click)="data.consumer.selectAdd(addObj)"> {{ data.consumer.getAddressTitle(addObj) }} </button>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    <md-card *ngIf="!data.consumer.mapStarted">
      <md-card-content>
        <span><h3>{{ data.consumer.currentAddrTitle }} </h3></span>
        <div>
            If you are expecting to work on this map, please ask any map updaters to assign this map to an owner.
        </div>
      </md-card-content>
    </md-card>
  </form>
</div>
