<div mat-dialog-content>

      <span><h3>{{ data.consumer.title }} </h3></span>
      <table width="100%">
        <tr>
            <td><strong>Address</strong></td>
            <td width="110px;"><strong>Status</strong></td>
        </tr>
        <tr *ngFor="let addObj of data.consumer.currentAddrList">
          <td >{{ data.consumer.getAddressTitle(addObj) }}</td>
          <td >
            <mat-select [(ngModel)]="addObj.status" [style.font-weight]="'bold'" [style.background-color]="data.consumer.getStatusBgColor(addObj)">
              <ng-container *ngFor="let stat of data.consumer.addrStatuses">
                <mat-option [value]="stat.val" >{{stat.label}}</mat-option>
              </ng-container>
            </mat-select>
          </td>
        </tr>
      </table>
      <br/>
      <button mat-fab *ngIf="data.consumer.mapStarted" (click)="data.consumer.saveStatuses()" ><mat-icon>save</mat-icon></button>
      <button mat-fab (click)="data.consumer.closeAddrListDlg()"><mat-icon>cancel</mat-icon></button>
</div>
