<div mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <span><h3>{{ data.consumer.title }} </h3></span>
      <table width="100%">
        <tr>
            <td width="80%"><strong>Address</strong></td>
            <td width="20%"><strong>Status</strong></td>
        </tr>
        <tr *ngFor="let addObj of data.consumer.currentMap.addresses">
          <td width="80%">{{ data.consumer.getAddressTitle(addObj) }}</td>
          <td width="20%" [style.background-color]="data.consumer.getStatusBgColor(addObj)">{{ data.consumer.getStatusLabel(addObj) }}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab (click)="data.consumer.closeAddrListDlg()"><mat-icon>cancel</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
