<div mat-dialog-content>
  <mat-card>
    <mat-card-title>
      <h4>Are you sure want to return this map?</h4>
    </mat-card-title>
    <mat-card-subtitle>If you are Field Service Group overseer or you are assigned to take a group, consider reusing this map.</mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="data.consumer.returnMap()">Yes</button>
      <button mat-raised-button color="accent" (click)="data.consumer.closeConfirmDlg()">No</button>
    </mat-card-actions>
  </mat-card>
</div>
