<div mat-dialog-content>
  <form name='shareForm'>
    <mat-card *ngIf="data.consumer.ownerMode">
      <mat-card-header>
        <mat-card-title>
          <h4>{{data.consumer.ownerCardTitle}}</h4>
        </mat-card-title>
        <mat-card-subtitle>{{ data.consumer.ownerCardDesc }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-checkbox [(ngModel)]="data.consumer.isPersonal" name="isPersonal" (click)="data.consumer.togglePersonal()">Personal Territory</mat-checkbox>
        <tag-input [(ngModel)]="data.consumer.userList" name="ownerDlg"
           [editable]="true" [identifyBy]="'id'" [displayBy]="'name'"
           [maxItems]="1" [onlyFromAutocomplete]="true" [placeholder]="data.consumer.placeHolderTxt" [secondaryPlaceholder]="data.consumer.placeHolderTxt">
           <tag-input-dropdown [appendToBody]="false" [autocompleteItems]='data.consumer.mapUsers' [identifyBy]="'$key'" [displayBy]="'name'"></tag-input-dropdown>
        </tag-input>
        <mat-form-field>
          <textarea matInput placeholder="Additional notes" matTextareaAutosize matAutosizeMinRows="1"
           matAutosizeMaxRows="10" [(ngModel)]="data.consumer.notes" name="notes"></textarea>
        </mat-form-field>
        <!-- <mat-form-field>
           <input type="text" matInput name="selUser" [(ngModel)]="data.consumer.selUser"  [matAutocomplete]="autoPub">
        </mat-form-field>
        <mat-autocomplete #autoPub="matAutocomplete" [displayWith]="displayFn">
           <mat-option *ngFor="let mapUser of data.consumer.mapUsers" [value]="mapUser">
             {{ mapUser.userInfoObj.name }}
           </mat-option>
        </mat-autocomplete> -->
        <!-- <button mat-mini-fab (click)="data.consumer.done()"><mat-icon>person_add</mat-icon></button> -->
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!data.consumer.ownerMode">
      <mat-card-header>
        <mat-card-title>
          <h4>{{data.consumer.shareCardTitle}}</h4>
        </mat-card-title>
        <mat-card-subtitle>{{ data.consumer.shareCardDesc }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <tag-input [(ngModel)]="data.consumer.userList" name="ownerDlg"
           [editable]="true" [identifyBy]="'id'" [displayBy]="'name'" (onAdd)="data.consumer.onItemAdded($event)" (onRemove)="data.consumer.onItemRemove($event)"
           [onlyFromAutocomplete]="true" [placeholder]="data.consumer.placeHolderTxt" [secondaryPlaceholder]="data.consumer.placeHolderTxt">
           <tag-input-dropdown [appendToBody]="false" [autocompleteItems]='data.consumer.mapUsers' [identifyBy]="'$key'" [displayBy]="'name'"></tag-input-dropdown>
        </tag-input>
      </mat-card-content>
    </mat-card>
  </form>
  <mat-dialog-actions>
    <button mat-mini-fab (click)="data.consumer.done()"><mat-icon>save</mat-icon></button>
    <button mat-mini-fab (click)="data.consumer.cancel()"><mat-icon>cancel</mat-icon></button>
  </mat-dialog-actions>
  <div>
    {{data.consumer.errorMsg}}
  </div>
</div>
