<md-toolbar [ngClass]="'bgc-blue-grey-900 whiteText marginTopBottom-2'">
  <span><h3>{{title}}</h3></span>
  <span class="fill-remaining-space"></span>
  <span><a md-mini-fab [routerLink]="['/home']" style="margin-right: 10px;"><md-icon>home</md-icon></a></span>
  <span><button md-mini-fab (click)="logout()" ><md-icon>exit_to_app</md-icon></button></span>
</md-toolbar>
<md-toolbar [ngClass]="'bgc-yellow-100 marginTopBottom-2'">
  <span><md-button-toggle style="margin-right: 10px;" (change)="toggleShowInfo($event)"><md-icon>info</md-icon></md-button-toggle></span>
  <span class="fill-remaining-space"></span>
</md-toolbar>
<agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom" [ngStyle]="{'height': height}">
  <marker-cluster [onAddressClick]="onAddressClick" [onUpdate]="mapService.onUpdate" [onSetShowClusterInfo]="onToggleShowInfo" [points]="points" ></marker-cluster>
</agm-map>
