<md-toolbar [ngClass]="'bgc-blue-grey-900 whiteText marginTopBottom-2'">
  <span><h3>{{title}}</h3></span>
  <span class="fill-remaining-space"></span>

  <!-- <span><button md-mini-fab (click)="startMap()" *ngIf="currentMap" style="margin-right: 10px;"><md-icon>play_arrow</md-icon></button></span> -->
  <span>
    <button md-mini-fab (click)="toggleShowLocation()" style="margin-right: 5px;" >
      <md-icon *ngIf="!showLocation">location_disabled</md-icon>
      <md-icon *ngIf="showLocation && !locationSearching">my_location</md-icon>
      <md-icon *ngIf="showLocation && locationSearching">location_searching</md-icon>
    </button>
  </span>
  <span><button md-mini-fab (click)="viewList()" style="margin-right: 5px;" ><md-icon>view_list</md-icon></button></span>
  <span><button md-mini-fab (click)="fitMap()" style="margin-right: 5px;" ><md-icon svgIcon="fit-map"></md-icon></button></span>
  <span><a md-mini-fab [routerLink]="['/home']" style="margin-right: 5px;"><md-icon>home</md-icon></a></span>
  <span><a md-mini-fab target="_blank" href="https://docs.google.com/document/d/1sNfzBlGop98HkbRW46PdGk0K2Hg8TLbHLkmysjLExKw/edit?usp=drive_web"><md-icon>help</md-icon></a></span>
</md-toolbar>
<!-- <md-toolbar [ngClass]="'bgc-yellow-100 marginTopBottom-2'" *ngIf="isAdmin()">
  <span><md-button-toggle style="margin-right: 10px;" (change)="toggleShowInfo($event)"><md-icon>info</md-icon></md-button-toggle></span>
  <span class="fill-remaining-space"></span>
</md-toolbar> -->
<agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom" [ngStyle]="{'height': height}">
  <marker-cluster [onAddLocMarker]="onAddLocMarker" [onFit]="onFit" [minimumClusterSize]="minimumClusterSize" [onAddressClick]="onAddressClick" [onUpdate]="mapService.onUpdate" [onSetShowClusterInfo]="onToggleShowInfo" [points]="points" ></marker-cluster>
</agm-map>
