
<td-message *ngIf="!hasMaps" label="Info" sublabel="You have no maps, please contact the maps team if you are expecting maps." color="accent" icon="info"></td-message>
<td-expansion-panel *ngFor="let fsg of fsgMaps" [expand]="fsg.expanded" (expanded)="toggleExpand(fsg, true)" (collapsed)="toggleExpand(fsg, false)">
  <ng-template td-expansion-panel-header>
    <mat-toolbar [ngClass]="'bgc-blue-grey-600 whiteText marginTopBottom-2'">
      <span><h2>{{ getFsgName(fsg) }}</h2> </span>
      <span class="fill-remaining-space"></span>
      <span><mat-icon *ngIf="!fsg.expanded">keyboard_arrow_down</mat-icon><mat-icon *ngIf="fsg.expanded">keyboard_arrow_up</mat-icon></span>
    </mat-toolbar>
  </ng-template>
  <mat-card class='mapCard' *ngFor="let map of fsg.maps" [style.background-color]="getBgMap(map)">
    <mat-card-header>
      <mat-card-title>
        <h3>
          {{map.mapObj.terId}} - {{map.mapObj.name}} {{ isNormalMode() ? '' : '::: Campaign'}}
        </h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar class="marginBottom-10" *ngIf="map.assgnObj && map.assgnObj.started" [value]="getCompletionPercentage(map)" [color]="primary"></mat-progress-bar>
      <div>
        <mat-chip-list selectable="false">
          <mat-chip *ngIf="map.assgnObj && map.assgnObj.started">Remaining: {{ getRemaining(map) }}</mat-chip>
          <mat-chip>Addresses: {{map.addressCount}}</mat-chip>
          <mat-chip *ngIf="map.assgnObj && map.assgnObj.lastSaved">Last used on: {{ map.assgnObj.lastSaved.when  | date:'dd MMM y' }} </mat-chip>
          <mat-chip *ngIf="map.assgnObj && map.assgnObj.lastSaved">Last used by: {{ map.assgnObj.lastSaved.name }}</mat-chip>
          <mat-chip *ngIf="map.hasOwner()">Owner: {{ map.getOwner().name}} </mat-chip>
          <mat-chip *ngIf="map.hasUsers()">Users: {{ getMapUsers(map) }}</mat-chip>
          <mat-chip *ngIf="map.assgnObj && map.assgnObj.started">Started: {{ map.assgnObj.started | date:'dd MMM y'}}</mat-chip>
          <mat-chip *ngIf="map.assgnObj && map.assgnObj.expiry" [style.background-color]="getBg(map.assgnObj.expiry)" >Expiry: {{ map.assgnObj.expiry | date:'dd MMM y'}}</mat-chip>
          <mat-chip *ngIf="map.mapObj.lastCompleted && isUpdater() && isNormalMode()">Last completed: {{ map.mapObj.lastCompleted | date:'dd MMM y'}}</mat-chip>
          <mat-chip *ngIf="map.assgnObj.prevOwner && isUpdater()" >Last Owner: {{ map.assgnObj.prevOwner.name }}</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a *ngIf="canOpenMap(map)" mat-mini-fab [routerLink]="['/map', map.id]"><mat-icon>map</mat-icon></a>
      <mapshare *ngIf="canOpenMap(map)" [map]="map" [campaignMode]="!isNormalMode()"></mapshare>
    </mat-card-actions>
  </mat-card>
</td-expansion-panel>
