<div style="text-align:center">
  <h2>
    Macgregor Maps 2.3
  </h2>
</div>
<div>
  <!-- <div class="flex-container"
     fxLayout="row"
     fxLayout.xs="row"
     fxLayoutAlign="space-around none"
     fxLayoutAlign.xs="start"> -->
     <md-toolbar [ngClass]="'bgc-blue-grey-900 whiteText marginTopBottom-2'">
        <userinfo></userinfo>
        <span class="fill-remaining-space"></span>
        <span><a style="margin-right: 10px;" md-mini-fab [routerLink]="['/map/all']" *ngIf="canViewAllMaps()"><md-icon >map</md-icon></a></span>
        <span><a href="{{ addUrl }}" target="_blank" md-mini-fab style="margin-right: 10px;"><md-icon svgIcon="add-address"></md-icon></a></span>
        <span><a md-mini-fab target="_blank" href="https://docs.google.com/document/d/1sNfzBlGop98HkbRW46PdGk0K2Hg8TLbHLkmysjLExKw/edit?usp=drive_web" style="margin-right: 10px;"><md-icon>help</md-icon></a></span>
        <span><button md-mini-fab (click)="logout()"><md-icon>exit_to_app</md-icon></button></span>
     </md-toolbar>
   <!-- </div> -->
  <mapslist-component #myMapsList></mapslist-component>
</div>
