/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.fill-remaining-space {
  flex: 1 1 auto;
}

.marginTopBottom-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.marginTopBottom-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginBottom-10 {
  margin-bottom: 10px;
}

.whiteText {
  color: white;
}

.toolbarIcon {
  margin-right: 10px;
}

.addrStatButton {
  width: 100px;
}

.addrstat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.addrstat-radio-button {
  margin: 5px;
}

.addrstat-selected-value {
  margin: 15px 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
